@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}


#backgroundVideo {
    z-index: -1;
    width: 100%;
   
    /* Adjust height if needed */
}

#content{
   text-align: justify;
 }
#card {

    width: 200%;
}
#DivContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
#ganeshImage {
    border: none;
    direction: none;
}

#heroMobileText {
    display: none;
}
.logo{
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
   height: 8%;
   width: 9%;
}
.productionContainer{
    width: 95%;
    gap: 20px;
    margin: auto;
}

.blogContainer1{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}


.locationBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px;
}
.divContainer{
    display: flex;
}

#companyName{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


@media screen and (max-width:900px){
    .blogContainer2
    {
        display: none;
    }
    .blogContainer1{
        flex-direction: column;
        
      
    }
    #companyName{
        font-size: 13px;
        font-weight: bold;
    }
    .blogCard{
        margin: 20px;
    }

    .hastag2{
        display: none;
    }
}
@media screen and (max-width:600px) {
    #heroDesktopText {
        display: none;
    }
    .divContainer{
        flex-direction: column;
    }
    
    #ganeshImage {
        width: 40%;
        height: 160px;
    }

    #heroMobileText {
        display: block;
        font-size: 15px;
    }
    #searchBar{
        height: 35px;
    }
    #DivContainer{
        flex-direction: row;
        margin-right: 2px;
        width: 95%;
    }
    #card{
        width: 90%;
    }
    .CardContainer{
        flex-direction: column;
        
    }
    .hastag1{
        display: none;
    }
    .hastag2{
        display: none;
    }
    .blogCard{
        margin: 10px;
    }

    #aboutText{
        display: none;
    }
}
